## Exploratory ML Notebook

We have a cross-sectional dataset of the number of the physical characteristics of . This dataset is taken from the University of California Irvine's [online machine learning data repository](https://archive.ics.uci.edu/). The online documentation for this dataset can be found [here](https://archive.ics.uci.edu/dataset/1/abalone). The machine learning task is to create a regression model that predicts the number of internal shell rings of an abalone mollusc based on its external characteristics.

To complete this task we will be using the [TensorFlow](https://www.tensorflow.org/) machine learning library. Tutorials can be accessed [here](https://www.tensorflow.org/tutorials?_gl=1*k1sdc8*_up*MQ..*_ga*MTAyMTc4MTE1LjE3MTk3OTIwMTY.*_ga_W0YLR4190T*MTcxOTc5MjAxNS4xLjAuMTcxOTc5MjAxNS4wLjAuMA..).

### Introduction

Package imports

In [1]:
from ucimlrepo import fetch_ucirepo
import tensorflow as tf
import pandas as pd
import numpy as np

Read in and preview the dataset. We can see we have a cross-sectional dataset of characteristics of abalone molluscs.

In [2]:
abalones = fetch_ucirepo(id=1)

abalones.data.original.head(7)

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7
5,I,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8
6,F,0.530,0.415,0.150,0.7775,0.2370,0.1415,0.330,20

Let's examine the target variable for this dataset, `Rings`.

In [3]:
abalones.data.targets.describe()

             Rings
count  4177.000000
mean      9.933684
std       3.224169
min       1.000000
25%       8.000000
50%       9.000000
75%      11.000000
max      29.000000

Let's now examine the features in this dataset. The majority of the features are numeric data, such as the height and weight of a mollusc, but we also have a categorical feature which is the sex of the mollusc.

In [4]:
abalones.data.features.describe(include='all')

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight
count,4177,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
unique,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1528,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,0.523992,0.407881,0.139516,0.828742,0.359367,0.180594,0.238831
std,NaN,0.120093,0.099240,0.041827,0.490389,0.221963,0.109614,0.139203
min,NaN,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500
25%,NaN,0.450000,0.350000,0.115000,0.441500,0.186000,0.093500,0.130000
50%,NaN,0.545000,0.425000,0.140000,0.799500,0.336000,0.171000,0.234000
75%,NaN,0.615000,0.480000,0.165000,1.153000,0.502000,0.253000,0.329000
max,NaN,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000

We can use a linear regression model to predict the number of internal rings of an abalone mollusc based on a combination of the features we have been provided with.

### ML analysis

#### Tasks for today:
- Preprocess the data
- Build and train a linear regression model using the abalone DataFrame